@import "tailwindcss";

:root {
  /* basics colors */
  --background: #ffffff;
  --foreground: #1a1a1a; /* gray 900 */
  --primary: #00b207;
  --soft-primary: #84d187;
  --hard-primary: #2c742f;
  --warning: #ff8a00;
  --danger: #ea4b48;

  /* TODO: gray shades */
  --gray-50: #f5f5f5;
  --gray-100: #f5f5f5;
  --gray-200: #e0e0e0;
  --gray-300: #bdbdbd;
  --gray-400: #9e9e9e;
  --gray-500: #757575;
  --gray-600: #616161;
  --gray-700: #424242;
  --gray-800: #212121;
  --gray-900: #000000;

  /* TODO: green gray shades */
  --green-gray-50: #f5f5f5;
  --green-gray-100: #f5f5f5;
  --green-gray-200: #e0e0e0;
  --green-gray-300: #bdbdbd;
  --green-gray-400: #9e9e9e;
  --green-gray-500: #757575;
  --green-gray-600: #616161;
  --green-gray-700: #424242;
  --green-gray-800: #212121;
  --green-gray-900: #000000;
}

@theme {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-soft-primary: var(--soft-primary);
  --color-hard-primary: var(--hard-primary);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  /* gray shades */
  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);

  /* green gray shades */
  --color-green-gray-50: var(--green-gray-50);
  --color-green-gray-100: var(--green-gray-100);
  --color-green-gray-200: var(--green-gray-200);
  --color-green-gray-300: var(--green-gray-300);
  --color-green-gray-400: var(--green-gray-400);
  --color-green-gray-500: var(--green-gray-500);
  --color-green-gray-600: var(--green-gray-600);
  --color-green-gray-700: var(--green-gray-700);
  --color-green-gray-800: var(--green-gray-800);
  --color-green-gray-900: var(--green-gray-900);

  /* fonts */
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .section_spacing {
    @apply py-[60px];
  }

  .wrapper {
    @apply container mx-auto;
  }
}
